<div class="container-fluid" style="margin-top: 10px">
    <div class="row">
        <div class="img">
            <img src="images/feedback.png" class="img-rounded" alt="Feedback" style="width: 100%">
        </div>
    </div>
    <br/><br/>
    <h2>Help us serve you better</h2>
    <hr style="border-top: solid; border-color: #337ab7">
    <div class="row">
        <div class="row">
            <div class="alert alert-success" role="alert" ng-show="message.showSuccessMessage">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> Thanks for your feedback.
            </div>

            <div class="alert alert-danger" role="alert" ng-show="message.showErrorMessage">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Something went wrong! </strong>Please try again.
            </div>

        <div class="col-sm-8">
            <form name="feedbackForm" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="firstName">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="firstName" ng-model="feedback.firstName" ng-pattern="/^[a-zA-Z]*$/" id="firstName" placeholder="First Name" required>
                        <span ng-show="feedbackForm.firstName.$dirty && feedbackForm.firstName.$error.required">
                            <div class="alert alert-danger">
                                First name cannot be blank
                            </div>
                        </span>
                        <span ng-show="feedbackForm.firstName.$dirty && feedbackForm.firstName.$error.pattern">
                            <div class="alert alert-danger">
                                Only alphabets from A to Z are allowed
                            </div>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lastName">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="lastName" ng-model="feedback.lastName" ng-pattern="/^[a-zA-Z]*$/" id="lastName" placeholder="Last Name" required>
                        <span ng-show="feedbackForm.lastName.$dirty && feedbackForm.lastName.$error.required">
                            <div class="alert alert-danger">
                                Last name cannot be blank
                            </div>
                        </span>
                        <span ng-show="feedbackForm.lastName.$dirty && feedbackForm.lastName.$error.pattern">
                            <div class="alert alert-danger">
                                Only alphabets from A to Z are allowed
                            </div>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="emailId">Email Id</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" name="emailId" ng-model="feedback.emailId" id="emailId" placeholder="Enter your Email Id" required>
                        <span ng-show="feedbackForm.emailId.$dirty && feedbackForm.emailId.$error.required">
                            <div class="alert alert-danger">
                                Email Id cannot be blank
                            </div>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="comment">Comment</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="5" name="comment" ng-model="feedback.comment" ng-pattern="/^[a-zA-Z]*$/" id="comment" placeholder="Leave a comment" required></textarea>
                        <span ng-show="feedbackForm.comment.$dirty && feedbackForm.comment.$error.required">
                            <div class="alert alert-danger">
                                Comment cannot be blank
                            </div>
                        </span>
                        <span ng-show="feedbackForm.comment.$dirty && feedbackForm.comment.$error.pattern">
                            <div class="alert alert-danger">
                                Only alphabets from A to Z are allowed
                            </div>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-disabled="feedbackForm.$invalid" ng-click="sendFeedback()" class="btn btn-primary btn-lg">Submit Feedback</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
